@import "responsiveLogin.scss";

.AdminLogin {
  background: url(./body-background.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: center;
  mix-blend-mode: screen;
}

.left {
  display: flex;
  height: 100vh;

  @include tablet{
    display: none;
  }
  img {
    height: 75vh;
    padding-top: 20%;
    padding-left: 15%;
  }
}

.lContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20%;

  @include mobile{
    margin-top: 0;
  }

  @include tablet{
    margin-left: 25%;
  }

  .lLogo{
    @include tablet{
      margin-left: -20%;
      margin-top: -30%;
    }
  }

  .l_heading {
    h1 {
      margin-bottom: 20px;
      color: white;
      font-size: 36px !important;
      @include tablet{
        font-size: 66px !important;
      }
      span {
        color: green;
        font-weight: 700;
      }
    }
    p {
      line-height: 155%;
      margin-bottom: 5px;
      font-size: 14px;
      color: white;
      // opacity: 0.65;
      font-weight: 400;
      max-width: 200px;
      margin-bottom: 20px;

      @include tablet{
        font-size: 44px;
        max-width: 600px;
      }
    }
  }
  .lInput {
    height: 30px;
    padding: 10px;

    @include tablet{
      height: 60px;
      width: 260px;
      margin-left: -20%;
      font-size: 28px;
    }
  }

  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;

    @include tablet{
      height: 60px;
      width: 180px;
      margin-left: -20%;
      font-size: 28px;
      margin-top: 10px;
    }
  }

  .lButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
  }
}
